.die {
  height: 3em;
  width: 3em;
  border: 0.25em solid black;
  border-radius: 0.25em;
  font-size: 3em;
  line-height: 2.5em;
  text-align: center;
}

.dieface {
  font-size: 5em;
}
/* 
.d-flex > div {
  height: 1em;
  width: 1em;
  border: 0.25em solid black;
  border-radius: 0.25em;
  font-size: 0.75em;
  line-height: 1.25em;
  text-align: center;
} */